# Environment variables
.env
.env.*

# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Django local database
db.sqlite3

# User uploaded files
media/

# VS Code
.vscode/

# Other IDE files
.idea/

# OS files
.DS_Store
Thumbs.db